WRITE_DATABASE_URL=postgresql+asyncpg://123:123@postgres-primary:5432/123
READ_DATABASE_URL=["postgresql+asyncpg://123:123@postgres-replica-1:5432/123","postgresql+asyncpg://123:123@postgres-replica-2:5432/123"]